html.derin-dark {
    filter: invert(1) !important;
}

html.derin-dark-transparent body,
html.derin-dark iframe,
html.derin-dark frame,
html.derin-dark embed {
    background-color: white !important;
}

/* some best-effort exceptions */
html.derin-dark img,
html.derin-dark iframe,
html.derin-dark object,
html.derin-dark video,
html.derin-dark embed,
html.derin-dark frame,
html.derin-dark svg,
html.derin-dark [style*="background-image:"],
html.derin-dark [style*="background:"][style*="url("] {
    filter: invert(1) !important;
}
