html.derin-dark {
    filter: invert(1) !important;
}

html.derin-dark-transparent body,
html.derin-dark iframe,
html.derin-dark frame,
html.derin-dark embed {
    background-color: white !important;
}

/* some best-effort exceptions */
html.derin-dark:not(.derin-dark-total) img,
html.derin-dark:not(.derin-dark-total) iframe[src],
html.derin-dark:not(.derin-dark-total) object,
html.derin-dark:not(.derin-dark-total) video,
html.derin-dark:not(.derin-dark-total) embed,
html.derin-dark:not(.derin-dark-total) frame,
html.derin-dark:not(.derin-dark-total) svg,
html.derin-dark:not(.derin-dark-total) [style*="background-image:"],
html.derin-dark:not(.derin-dark-total) [style*="background:"][style*="url("] {
    filter: invert(1) !important;
}
