body {
    width: 300px;
}

#title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#container {
    font-size: 15px;
    display: flex;
    gap: 10px;
    padding: 20px 10px;
    border: 1px solid black;
}
